@page
@model azure_app_sp.Pages.DeploymentSlotsModel
@{
    ViewData["Title"] = "home Page";
}

<div class="text-center">
    <h1 class="display-4">
       Testing deployment slots
    </h1>
    <h3>
        Validating deployment slots feature.
    </h3>
</div>