@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure for .net developers</h1>
    <h3>
         We are here to learn about the different microsoft azure features and .net core development.
    </h3>
</div>
